a:hover {
    color: red;
}
li:first-child {
    font-weight: bold;
}
p:nth-child(2n) {
    background: #eee;
}

p::first-line {
    font-variant: small-caps;
}
p::before {
    content: "⚠ ";
}
::selection {
    background-color: black;
    color: whitesmoke;
}
li::marker {
    color: green;
    font-size: 16px;
    content: "▶ ";
}

input[type="text"] {
    border: 1px solid blue;
}

a[href^="https"] {
    color: green;
}

a[target] {
    color: crimson;
}

img[alt$="logo"] {
    border: 2px dashed red;
    width: 200px;
}